<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>TODO Tasks - Login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<form th:action="@{/login}" method="post" class="form-signin">
			<h3 class="form-signin-heading" th:text="Welcome"></h3>
			<br/>
		    <div th:if="${param.error}" class="alert alert-error">    
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success"> 
                You have been logged out.
            </div>
			 
			<input type="text" id="username" name="username" th:placeholder="Username"	class="form-control"/>
			<br/> 
			<input type="password" id="password" name="password" th:placeholder="Password" class="form-control"/> 
			<br /> 
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>
	</div>
</body>
</html>